$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$KirjaPink: #E11470;
$KirjaWhite: #F7F7F3;
$KirjaLighterGrey: #272727;
$KirjaGrey: #131112;
$KirjaSmoke: #0B0909;
$KirjaBlack: #000;
$KirjaCream: #F2F6D0;
$KirjaSmokeyBlack: #0F0A0A;
$KirjaOrange: #D96C06;
$KirjaCaution: #FFD700;
$KirjaWarning: #B3001B;
$KirjaSky: #6CD4FF;
$KirjaBlue: #0E6CD4;
$KirjaOffWhite: rgba(247, 247, 243, 0.5);
$KirjaBorder: rgba(247, 247, 243, 0.25);
$KirjaBorderLight: rgba(247, 247, 243, 0.1);
$KirjaShadow: rgba(0, 0, 0, 0.25);
$KirjaShadowDark: rgba(0, 0, 0, 0.5);
$KirjaShadowLight: rgba(0, 0, 0, 0.1);
$KirjaRoundedEdges: 5px;
$mainFontSize: 16px;